/* --------------Responsividade-------------- */

@media only screen  and (max-width : 425px) {
    /* Smartphone = widht: 425px | height: 740px */
    .textContactStyle {
        font-size: 8px;
        letter-spacing: 4px;
    }
    .botaoContact{
        width: 150px;
        padding: 10px 5px;
    }

    .tagsDecoration{
        font-size: 0.5rem;
        letter-spacing: 1.5px;
    }
    #tagDecoration1{
        margin-top: 2vh;
        margin-left: 2vw;
    }
    #tagDecoration2{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #tagDecoration3{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
    #tagDecoration4{
        margin-left: 4vw;
        margin-top: 2vh;
    }
}

@media only screen
    and (min-width : 426px) and (max-width: 768px){
    /* Tablet = widht: 768px | height: 740px */
    .textContactStyle {
        font-size: 13px;
        letter-spacing: 4px;
    }
    .botaoContact{
        width: 230px;
        padding: 13px 5px;
    }

    .tagsDecoration{
        font-size: 1rem;
        letter-spacing: 3px;
    }
    #tagDecoration1{
        margin-top: 2vh;
        margin-left: 2vw;
    }
    #tagDecoration2{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #tagDecoration3{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
    #tagDecoration4{
        margin-left: 4vw;
        margin-top: 2vh;
    }
}

@media only screen and (min-width : 769px) {
    /* Desktop = widht: 1024px | height: 740px */
    .textContactStyle {
        font-size: 16px;
        letter-spacing: 4px;
    }
    .botaoContact{
        width: 250px;
        padding: 15px 5px;
    }

    .tagsDecoration{
        font-size: 1.3rem;
        letter-spacing: 3px;
    }
    #tagDecoration1{
        margin-top: 2vh;
        margin-left: 2vw;
    }
    #tagDecoration2{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #tagDecoration3{
        margin-left: 4vw;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
    #tagDecoration4{
        margin-left: 4vw;
        margin-top: 2vh;
    }
}


/* --------------CSS DEFAULT--------------*/

.textContactStyle {
    color: #08fdd8;
    font-weight: 500;
    font-family: sans-serif;
    pointer-events:none
}
.botaoContact{
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #08fdd8;
    cursor: pointer;
    transition: all 400ms ease;
    display: inline-block;
}
.containerContact {
    padding: 0 !important;
}
.tagsDecoration{
    color: #535252;
    font-family: 'Caveat';
}



.containerBlock{
    display: block !important;
}

.containerSpace{
    width: 1vh !important;

}
.containerEffect {
    margin-left: 6vw;
}

.botaoContactEfeito{
    background-color: transparent;
}
.botaoContactEfeito:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: #08fdd8;
    transition: all 400ms ease;
}
.botaoContactEfeito:hover:before{
    width: 100%;
}

@keyframes effectEntrada {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}